@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #ebebeb;
}

body.dark{
    background: #2f2f2f;
}

@layer utilities{
    .neomorphism-outset{
        box-shadow: 2px 2px 2px #00000099,
        -2px -2px 2px #fff;
    }

    .neomorphism-inset{
        box-shadow: 2px 2px 2px #00000094 inset,
        -2px -2px 2px #fff inset;
    }
}

