@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #ebebeb;
}

body.dark{
    background: #2f2f2f;
}

@layer utilities{
    .neomorphism-outset{
        box-shadow: 2px 2px 2px #000,
        -2px -2px 2px #fff;
    }

    .neomorphism-inset{
        box-shadow: 2px 2px 2px #000 inset,
        -2px -2px 2px #fff inset;
    }

}